@*@model WineryApp.Data.Entiteti.Narudžba

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Narudžba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIsporuke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumIsporuke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNaplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNaplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeKupca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeKupca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrezimeKupca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrezimeKupca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaKupca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresaKupca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KonacnaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KonacnaCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner.PartnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spremnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spremnik.SpremnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NarudzbaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
