@using WineryApp.Data
@using WineryApp.Data.Entiteti
@model WineryApp.Data.Entiteti.Narudžba
@inject IRepository Repository
@{
    ViewData["Title"] = "Detalji narudžbe";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var kupac = Model.PartnerId.HasValue ? Model.Partner.ImePartnera : Model.ImeKupca + " " + Model.PrezimeKupca;
    var adresa = Model.PartnerId.HasValue ? Model.Partner.Adresa : Model.AdresaKupca;
    var status = Repository.StatusNarudžbe(Model);
    var datumNarudžbe = Model.DatumNarudzbe.Value.ToString("dd.MM.yyyy");
    var datumIsporuke = Model.DatumIsporuke.HasValue ? Model.DatumIsporuke.Value.ToString("dd.MM.yyyy") : "Nije isporučeno";
    var datumNaplate = Model.DatumNaplate.HasValue ? Model.DatumNaplate.Value.ToString("dd.MM.yyyy") : "Nije naplačeno";
    var cijenaLitre = Model.Spremnik.CijenaLitre.HasValue ? $"{Model.Spremnik.CijenaLitre.Value} HRK" : "-";
}

    <div class="container-fluid blur-box">
        <br />

        <div class="row justify-content-between">
            <div>
                <h2 class="ml-3">Narudžba br. @Model.NarudzbaId</h2>
                <h4 class="ml-3">Kupac: @kupac</h4>
            </div>
            <div>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.NarudzbaId" asp-route-returnUrl="@Context.Request.Path.ToString()">Uredi</a>
                <a class="btn btn-outline-danger mr-3" asp-action="Nazad" asp-route-returnUrl="@ViewBag.returnUrl">Natrag</a>
            </div>
        </div>

        <hr />

        <dl class="row">
            <dt class="col-3">Status narudžbe:</dt>
            <dd class="col-3">@status</dd>
            <dt class="col-3">Adresa kupca:</dt>
            <dd class="col-3">@adresa</dd>
        </dl>
        
        <hr/>
        
        <dl class="row">
            <dt class="col-2">Šifra podruma:</dt>
            <dd class="col-2">@Model.Spremnik.Podrum.ŠifraPodruma</dd>
            <dt class="col-2">Šifra spremnika:</dt>
            <dd class="col-2">@Model.Spremnik.ŠifraSpremnika</dd>
            <dt class="col-2">Sorta vina:</dt>
            <dd class="col-2">@Model.Spremnik.SortaVina.NazivSorte</dd>
        </dl>

        <hr />

        <dl class="row">
            <dt class="col-2">Cijena litre:</dt>
            <dd class="col-2">@cijenaLitre</dd>
            <dt class="col-2">Količina:</dt>
            <dd class="col-2">@Model.Količina L</dd>
            <dt class="col-2">Konačna cijena:</dt>
            <dd class="col-2">@Model.KonacnaCijena HRK</dd>
        </dl>


        <hr />

        <dl class="row">
            <dt class="col-2">Datum narudžbe:</dt>
            <dd class="col-2">@datumNarudžbe</dd>
            <dt class="col-2">Datum isporuke:</dt>
            <dd class="col-2">@datumIsporuke</dd>
            <dt class="col-2">Datum naplate:</dt>
            <dd class="col-2">@datumNaplate</dd>
        </dl>
        
        <hr/>
        
        <div class="row justify-content-end p-3">
            @if (Model.Status == (int)StatusNarudžbe.Naručeno)
            {
                <a class="btn btn-success" asp-action="Isporuči" asp-route-id="@Model.NarudzbaId" asp-route-returnUrl="@Context.Request.Path.ToString()">Isporuči narudžbu</a>
            }
            @if (Model.Status == (int)StatusNarudžbe.Isporučeno)
            {
                <a class="btn btn-success" asp-action="Naplati" asp-route-id="@Model.NarudzbaId" asp-route-returnUrl="@Context.Request.Path.ToString()">Naplati narudžbu</a>
            }
        </div>

    </div>