@using WineryApp.Data
@using WineryApp.Data.Entiteti
@model WineryApp.Data.Entiteti.Zadatak

@{
    ViewData["Title"] = "Detalji zadatka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container blur-box">
        <br />
        <h1 class="d-flex justify-content-center">Detalji - @Model.ImeZadatka</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImeZadatka)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImeZadatka)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Podrum)
            </dt>
            <dd class="col-sm-10">
                @{
                    var podrum = Model.PodrumId.HasValue ? Model.Podrum.ŠifraPodruma : "Općenito";
                }
                @podrum
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Spremnik)
            </dt>
            <dd class="col-sm-10">
                @{
                    var spremnik = Model.SpremnikId.HasValue ? Model.Spremnik.ŠifraSpremnika : "Općenito";
                }
                @spremnik
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PočetakZadatka)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PočetakZadatka)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RokZadatka)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RokZadatka)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StatusZadatka)
            </dt>
            <dd class="col-sm-10">
                @{
                    var status = Model.StatusZadatka == (int) StatusZadatka.UTijeku ? "U tijeku" : "Završeno";
                }
                @status
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bilješke)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bilješke)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KategorijaZadatkaId)
            </dt>
            <dd class="col-sm-10">
                @Model.KategorijaZadatka.ImeKategorije
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZaduženiZaposlenik)
            </dt>
            <dd class="col-sm-10">
                @Model.ZaduženiZaposlenikNavigation.Ime @Model.ZaduženiZaposlenikNavigation.Prezime
            </dd>
        </dl>
<div class="d-flex justify-content-between p-3">
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.ZadatakId" asp-route-returnUrl="@Context.Request.Path.ToString()">Uredi zadatak</a>
    <a class="btn btn-outline-danger" asp-action="Nazad" asp-route-returnUrl="@ViewBag.returnUrl">Natrag</a>
</div>
</div>
