@using Microsoft.AspNetCore.Identity
@using WineryApp.Data
@using WineryApp.Data.Entiteti
@model WineryApp.ViewModels.Zadaci.ZadaciViewModel
@inject UserManager<IdentityUser> UserManager
@inject IRepository Repository
@{
    ViewData["Title"] = "Zadaci";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userHash = UserManager.GetUserId(User);
    bool amIAdmin = Repository.AmIAdmin(userHash);

    var allZadaci = Repository.GetAllZadaci();
}

@if (allZadaci.Count == 0)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="mb-0">
            Još nemate dodjeljenih zadataka! Kliknite na '+Dodaj zadatak' za početak rada!
        </p>
    </div>
}

<br />
<h1 class="d-flex justify-content-center">Zadaci</h1>
<hr />

@if (amIAdmin)
{    
    <button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#DodajZadatakModal">
        +Dodaj zadatak
    </button>
}

<div class="container">
    <div class="form-group row">
        <div class="col-sm-10">

            <div class="modal fade" id="DodajZadatakModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Dodaj zadatak</h4>
                        </div>

                        <div class="modal-body">
                            <form id="dodajZadatakForm" asp-controller="Zadaci" asp-action="DodajZadatak" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group ">
                                    <label asp-for="ZadatakInput.KategorijaZadatkaId"></label>
                                    <select id="kategorijaZadatkaSelect" class="custom-select"
                                            asp-items="@Model.KategorijeZadataka.Select(i => new SelectListItem(i.ImeKategorije, i.KategorijaZadatkaId.ToString()))"
                                            asp-for="ZadatakInput.KategorijaZadatkaId">
                                        <option disabled selected value="">Odaberite kategoriju zadatka</option>
                                    </select>
                                    <span asp-validation-for="ZadatakInput.KategorijaZadatkaId" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="vrstaAditivSelectInput">
                                    <label asp-for="ZadatakInput.VrstaAditivaId"></label>
                                    <select class="custom-select" asp-for="ZadatakInput.VrstaAditivaId"
                                            asp-items="ViewBag.VrsteAditiva">
                                        <option disabled selected value="">Odaberite vrstu aditiva</option>
                                    </select>
                                    <span asp-validation-for="ZadatakInput.VrstaAditivaId" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="aditivSelectInput">
                                    <label asp-for="ZadatakInput.AditivId"></label>
                                    <select class="custom-select"
                                            asp-for="ZadatakInput.AditivId">
                                        <option disabled selected value="">Odaberite aditiv</option>
                                    </select>
                                    <span asp-validation-for="ZadatakInput.AditivId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.ImeZadatka"></label>
                                    <input asp-for="ZadatakInput.ImeZadatka" class="form-control" />
                                    <span asp-validation-for="ZadatakInput.ImeZadatka" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.PodrumId"></label>
                                    <select asp-for="ZadatakInput.PodrumId" class="form-control" asp-items="ViewBag.Podrumi" id="podrumSelect">
                                        <option selected value="">Općenito</option>
                                    </select>
                                    <span asp-validation-for="ZadatakInput.PodrumId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.SpremnikId"></label>
                                    <select asp-for="ZadatakInput.SpremnikId" class="form-control" id="spremnikSelect">
                                        <option selected value="">Općenito</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.PočetakZadatka"></label>
                                    <input asp-for="ZadatakInput.PočetakZadatka" class="form-control" />
                                    <span asp-validation-for="ZadatakInput.PočetakZadatka" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.RokZadatka"></label>
                                    <input asp-for="ZadatakInput.RokZadatka" class="form-control" />
                                    <span asp-validation-for="ZadatakInput.RokZadatka" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.Bilješke"></label>
                                    <textarea asp-for="ZadatakInput.Bilješke" class="form-control"></textarea>
                                    <span asp-validation-for="ZadatakInput.Bilješke" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZadatakInput.ZaposlenikId"></label>
                                    <select class="custom-select"
                                            asp-items="Model.Zaposlenici.Select(i => new SelectListItem(i.Ime + ' ' + i.Prezime, i.ZaposlenikId.ToString()))"
                                            asp-for="ZadatakInput.ZaposlenikId">
                                        <option disabled selected value="">Odaberite zaposlenika</option>
                                    </select>
                                    <span asp-validation-for="ZadatakInput.ZaposlenikId" class="text-danger"></span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="dodajZadatakForm" class="btn btn-outline-primary">Dodaj zadatak</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Odustani</button>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.Zadaci.Count != 0)
            {
                <div class="container-fluid blur-box">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Naziv zadatka</th>
                                <th>Vrsta zadatka</th>
                                <th>Početak zadatka</th>
                                <th>Rok zadatka</th>
                                <th>Odgovoran</th>
                                <th>Status zadatka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var zadatak in Model.Zadaci)
                            {
                                var imePrezime = zadatak.ZaduženiZaposlenikNavigation.Ime + " " + zadatak.ZaduženiZaposlenikNavigation.Prezime;
                                var status = zadatak.StatusZadatka.Value == (int)StatusZadatka.UTijeku ? "U tijeku" : "Završeno";
                                <tr style="cursor: pointer" onclick="location.href = '@Url.Action("Details", "Zadaci", new {id = zadatak.ZadatakId})'">
                                    <td>@zadatak.ImeZadatka</td>
                                    <td>@zadatak.KategorijaZadatka.ImeKategorije</td>
                                    <td>@($"{zadatak.PočetakZadatka:d/M/yyyy}")</td>
                                    <td>@($"{zadatak.RokZadatka:d/M/yyyy}")</td>
                                    <td>@imePrezime</td>
                                    <td>@status</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <a class="btn btn-sm pt-2 fas fa-pen nounderline" asp-action="Edit" asp-route-id="@zadatak.ZadatakId"></a>
                                            <form id="deleteForm" asp-action="Delete" method="post">
                                                <input type="hidden" name="id" value="@zadatak.ZadatakId" />
                                                <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                                                    <i class="fas fa-trash-alt" style="color: white"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="col-sm-2 blur-box">
            <partial name="KriterijiZaFiltriranje" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}