@model WineryApp.Data.Entiteti.Aditiv

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Aditiv</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImeAditiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImeAditiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Koncentracija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Koncentracija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrukcije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrukcije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaAditiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaAditiva.VrstaAditivaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AditivId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
