@model WineryApp.Data.Entiteti.Podrum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Podrum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ŠifraPodruma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ŠifraPodruma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popunjenost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popunjenost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodinaBerbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodinaBerbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FazaIzrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FazaIzrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezultatAnalize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezultatAnalize.RezultatAnalizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortaVina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortaVina.SortaVinaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PodrumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
