@model WineryApp.Data.Entiteti.RezultatAnalize

@{
    ViewData["Title"] = "Detalji analize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid blur-box">
<br/>

<div class="row justify-content-between">
    <div>
        <h2 class="ml-3">Analiza @Model.ŠifraUzorka</h2>
        <h4 class="ml-3">@Model.Spremnik.SortaVina.NazivSorte</h4>
    </div>
    <div>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.RezultatAnalizeId">Uredi</a>
        <a class="btn btn-outline-danger mr-3" asp-action="Index">Natrag na listu</a>
    </div>
</div>

<hr/>

<dl class="row">
    <dt class="col-2">Datum analize uzorka:</dt>
    <dd class="col-2">@Model.DatumUzimanjaUzorka.ToString("dd.MM.yyyy")</dd>
</dl>

<hr/>

<dl class="row">
    <dt class="col-2">Šifra podruma:</dt>
    <dd class="col-2">@Model.ŠifraPodruma</dd>
    <dt class="col-2">Šifra spremnika:</dt>
    <dd class="col-2">@Model.Spremnik.ŠifraSpremnika</dd>
    <dt class="col-2">Uzorak uzeo:</dt>
    <dd class="col-2">@Model.UzorakUzeo.Ime @Model.UzorakUzeo.Prezime</dd>
</dl>

<hr/>
</div>